connect('{{ wls_console_user }}','{{ wls_password }}','t3://{{ wls_console_host }}:{{ wls_console_port }}')

edit()
startEdit()
cd('/SecurityConfiguration/{{ wls_domain_name }}/Realms/myrealm')
cmo.createAuthenticationProvider('AD-1', 'weblogic.security.providers.authentication.ActiveDirectoryAuthenticator')
cd('/SecurityConfiguration/{{ wls_domain_name }}/Realms/myrealm/AuthenticationProviders/AD-1')
cmo.setControlFlag('SUFFICIENT')
cmo.setUserNameAttribute('{{ ldap_search_attribute }}')
cmo.setPrincipal('{{ ldap_username }}')
cmo.setCredential('{{ ldap_password }}')
cmo.setHost('{{ ldap_server }}')
cmo.setUserObjectClass('organizationalPerson')
cmo.setAllUsersFilter('{{ ldap_allusersfilter }}')
cmo.setUserSearchScope('subtree')
cmo.setAllGroupsFilter('{{ ldap_allgroupsfilter }}')
cmo.setGroupFromNameFilter('')
cmo.setGroupSearchScope('subtree')
cmo.setGroupMembershipSearching('unlimited')
cmo.setGroupBaseDN('{{ ldap_group_base_dn }}')
cmo.setMaxGroupMembershipSearchLevel(0)
cmo.setUserFromNameFilter('')
cmo.setUserBaseDN('{{ ldap_user_base_dn }}')
cmo.setMaxGroupHierarchiesInCache(500)
cmo.setGroupHierarchyCacheTTL(6000)
cmo.setCacheTTL(300)
cmo.setResultsTimeLimit(30)
cmo.setCacheSize(1024)
cmo.setConnectionRetryLimit(5)
cmo.setConnectTimeout(60)
cmo.setConnectionPoolSize(10)
cmo.setUseTokenGroupsForGroupMembershipLookup(true)
cmo.setIgnoreDuplicateMembership(true)
cmo.setEnableSIDtoGroupLookupCaching(true)

cd('/SecurityConfiguration/{{ wls_domain_name }}/Realms/myrealm')
cmo.createAuthenticationProvider('AD-2', 'weblogic.security.providers.authentication.ActiveDirectoryAuthenticator')
cd('/SecurityConfiguration/{{ wls_domain_name }}/Realms/myrealm/AuthenticationProviders/AD-2')
cmo.setControlFlag('SUFFICIENT')
cmo.setUserNameAttribute('{{ ldap_search_attribute }}')
cmo.setPrincipal('{{ ldap_username }}')
cmo.setCredential('{{ ldap_password }}')
cmo.setHost('{{ ldap_server2 }}')
cmo.setUserObjectClass('organizationalPerson')
cmo.setAllUsersFilter('{{ ldap_allusersfilter }}')
cmo.setUserSearchScope('subtree')
cmo.setAllGroupsFilter('{{ ldap_allgroupsfilter }}')
cmo.setGroupFromNameFilter('')
cmo.setGroupSearchScope('subtree')
cmo.setGroupMembershipSearching('unlimited')
cmo.setGroupBaseDN('{{ ldap_group_base_dn }}')
cmo.setMaxGroupMembershipSearchLevel(0)
cmo.setUserFromNameFilter('')
cmo.setUserBaseDN('{{ ldap_user_base_dn }}')
cmo.setMaxGroupHierarchiesInCache(500)
cmo.setGroupHierarchyCacheTTL(6000)
cmo.setCacheTTL(300)
cmo.setResultsTimeLimit(30)
cmo.setCacheSize(1024)
cmo.setConnectionRetryLimit(5)
cmo.setConnectTimeout(60)
cmo.setConnectionPoolSize(10)
cmo.setUseTokenGroupsForGroupMembershipLookup(true)
cmo.setIgnoreDuplicateMembership(true)
cmo.setEnableSIDtoGroupLookupCaching(true)

cd('/SecurityConfiguration/{{ wls_domain_name }}/Realms/myrealm')
set('AuthenticationProviders',jarray.array([ObjectName('Security:Name=myrealmAD-1'), ObjectName('Security:Name=myrealmAD-2'), ObjectName('Security:Name=myrealmDefaultAuthenticator'), ObjectName('Security:Name=myrealmDefaultIdentityAsserter')], ObjectName))
activate()

shutdown('AdminServer','Server', ignoreSessions='true')
disconnect()
exit()
