DomainsFile={{ wls_domain_home }}/nodemanager/nodemanager.domains
LogLimit=0
PropertiesVersion={{ wls_version }}
DomainsDirRemoteSharingEnabled=false
AuthenticationEnabled=true
JavaHome={{ java_home }}
LogLevel=INFO
DomainsFileEnabled=true
ListenAddress={{ wls_console_host}}
NativeVersionEnabled=true
ProcessDestroyTimeout=20000
ListenPort=5556
weblogic.StartScriptName=startWebLogic.sh
LogToStderr=true
SecureListener=false
LogCount=1
LogAppend=true
weblogic.StopScriptEnabled=false
StateCheckInterval=500
CrashRecoveryEnabled=true
weblogic.StartScriptEnabled=true
LogFile={{ wls_domain_home }}/nodemanager/nodemanager.log
coherence.StartScriptEnabled=false
LogFormatter=weblogic.nodemanager.server.LogFormatter
ListenBacklog=50
QuitEnabled=true
